nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.nav-list a{
    text-decoration: none;
    color: aliceblue;
}

.nav-list a:hover {
    color: #61abff;
}